# This is being used for the sitemap
NEXT_PUBLIC_SITE_URL=***
# Optional: enable the browser-only theme preview dropdown for testing brand themes
NEXT_PUBLIC_ENABLE_THEME_SELECTION=***

NEXT_PUBLIC_GTM_ID=***

# Optional: Add these to specify GitHub repository details for fetching metadata like last edited date and author.
# Create one at https://github.com/settings/tokens with 'public_repo' scope
GITHUB_TOKEN=***
GITHUB_REPO=***
GITHUB_OWNER=***
